/Users/alexieva/Documents/Projects/Writing/Research\ manuscripts/metagen_zfBaP/Pub_analysis_gitlab/*cache
/Users/alexieva/Documents/Projects/Writing/Research\ manuscripts/metagen_zfBaP/Pub_analysis_gitlab/*files
.DS_Store
.gitignore

